---
layout: default
---

<h1>Blog</h1>

{{ content }}

{% assign postsByDate = site.blog | group_by_exp:"post", "post.date | date: '%Y%m%d'" | reverse %}
{% for post in postsByDate %}
<div>
  {% assign categories = post.items | group_by:"category" %}
  {% for category in categories %}
  <div>
    {% for post in category.items %}
    {% assign postCategory = post.title | downcase %}
    {% assign categoryName = category.name | replace: '-', ' ' | downcase %}
    {% if categoryName != postCategory %}
    <div style="line-height: 1; border-style: solid; padding: 8px; border-color: black; border-radius: 8px; box-sizing: border-box; margin-bottom: 4px">
        <a href="{{ post.url | absolute_url }}"> {{ post.title }}</a>
        <p style="margin-top: 8px">{{ post.date | date: "%A %d of %B of %Y" }}</p>
        <br>
        <span class="tag">
          <small>
            &lt;{{ post.tags | join: '/&gt; &lt;' }}/&gt;
          </small>
        </span>
        <p style="margin-top: 4px">{{ post.description }}</p>
    </div>
    {% endif %}
    {% endfor %}
    <br>
  </div>
  {% endfor %}
</div>
{% endfor %}
